@{
    ViewBag.Title = "Testimony Bingo";
}

<div class="col-xs-12">
    @*<h1>Testimony Bingo</h1>*@
    <hr />
    <div style="padding-bottom:10px;">
        <button class="btn btn-success" id="donebtn">Done</button>
        <button class="btn btn-danger" id="resetbtn">@Html.ActionLink("Clear Board", "Index", "Home")</button>
    </div>
    <div id="grid">
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>B</td>
                    <td>I</td>
                    <td>N</td>
                    <td>G</td>
                    <td>O</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>B</td>
                    <td><input type="text" class="inputtext form-control" id="1textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="2textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="3textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="4textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="5textinput" onclick="changebackground(this)" /></td>
                </tr>
                <tr>
                    <td>I</td>
                    <td><input type="text" class="inputtext form-control" id="6textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="7textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="8textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="9textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="10textinput" onclick="changebackground(this)" /></td>
                </tr>
                <tr>
                    <td>N</td>
                    <td><input type="text" class="inputtext form-control" id="11" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="12" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="form-control" style="background-color: red; color: white;" value="FREE!" disabled /></td>
                    <td><input type="text" class="inputtext form-control" id="14textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="15textinput" onclick="changebackground(this)" /></td>
                </tr>
                <tr>
                    <td>G</td>
                    <td><input type="text" class="inputtext form-control" id="16textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="17textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="18textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="19textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="20textinput" onclick="changebackground(this)" /></td>
                </tr>
                <tr>
                    <td>O</td>
                    <td><input type="text" class="inputtext form-control" id="21textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="22textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="23textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="24textinput" onclick="changebackground(this)" /></td>
                    <td><input type="text" class="inputtext form-control" id="25textinput" onclick="changebackground(this)" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#donebtn").click(function () {
            donebtnclick();
        });

    });

    function donebtnclick() {
        if ($("#donebtn").text() == "Done") {
            $(".inputtext").prop('readonly', true);
            $("#donebtn").text("Edit");

        }
        else if ($("#donebtn").text() == "Edit") {
            $(".inputtext").prop('readonly', false);
            $("#donebtn").text("Done")
        }
    }

    function changebackground(e) {
        var getthevalue = $(e).attr('id');
        console.log($(getthevalue).css('background-color'));
        debugger;
        if ($("#donebtn").text() == "Edit" && $("#" + getthevalue).css("background-color") == 'rgb(255, 255, 255)') {
            $("#" + getthevalue).css("background-color", "red");
            $("#" + getthevalue).css("color", "white");
            checkBingo(getthevalue);
        }
        else {
            $("#" + getthevalue).css("background-color", "white");
            $("#" + getthevalue).css("color", "black");
        }
    }

    function checkBingo(element) {
        var elementId = $("#" + element).attr("id");
        var elementNumberId = getInputNumber(elementId);
    }

    function getInputNumber(element) {
        var final = '';
        for (var i = 0; i < element.length; i++) {
            if (element[i] != 't') {
                final += element[i];
            }
            else {
                break;
            }
        }
        return parseInt(final);
    }
</script>