body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    background-color: #F1F1F3;
    color: #333333;
    padding-top: 20px;
}


.navbar-inverse {
    background-color: #3c4d71;
    color: white !important;
}

    .navbar-inverse .navbar-brand {
        color: white;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

thead {
    text-align: center;
}

.col-xs-12 input {
    width: 100%;
    height: 40px;
    text-align: center;
}


.form-control[readonly] {
    background-color: white;
    cursor: default;
}

#resetbtn a {
    color: white;
}

#hints {
    padding-top:10px;
    color:lightgray;
}

@media (max-width: 430px) {
    .ads {
        display: block !important;
        margin: 0 auto !important;
        width: 60% !important;
        padding-bottom: 10px;
    }
}